<% if @model == 'customer' %>
	<h3>ユーザー search for "<%= @content %>"</h3>
  <%= render 'customers/index', customers: @records %>
<% elsif @model == 'article' %>
	<h3>投稿 search for "<%= @content %>"</h3>
  <%= render 'articles/show', articles: @records %>
<% end %>