</br>
 <h2 style="text-align:center;">サイト概要</h2>
</br>

 <h4 style="text-align:center; background-color:#66CDAA;">目的</h4>
  <p style="text-align:center;">
   自動二輪用の駐車場を見つける
  </p>
  </br>
  <h4 style="text-align:center; background-color:#66CDAA;">base_data</h4>
   <p style="text-align:center;">
    サイト作成者自身の趣味がツーリングということもあり<br>
    自動二輪車用の駐輪場を把握するために作成しました。<br>
    </p>
    </br>
<h4 style="text-align:center; background-color:#66CDAA;">内容</h4>
<p style="text-align:center;">
　　皆さんの旅行先やツーリング先などで見つけた自動二輪車用駐輪場を掲載してください。<br>
　　会員登録無料で、掲載者への意見やいいね♡を行うことができます。<br>
</p>


<p style="text-align:center;">
   <%= image_tag 'baike_2.jpg', style: "width: 300px" %><br>
 </p>