<div class="container takasa">
  <div class="row">

       <div class="col-xs-9 about-content">
      <h2 class="about-index"><i class="fas fa-building"></i>会社概要</h2>
      <about class="about-index">
      <table class="table-bordered">
      <tr>
        <th bgcolor="#99CC99">会社名</th>
        <td style="width: 450px; height: 60px;">株式会社</td>
      </tr>
      <tr>
        <th bgcolor="#99CC99">創業</th>
        <td>0000年00月</td>
      </tr>
      <tr>
        <th bgcolor="#99CC99">資本金</th>
        <td>0円</td>
      </tr>
      <tr>
        <th bgcolor="#99CC99">代表者</th>
        <td>あいうえお</td>
      </tr>
     
    </table><br>