
 <h2 style="text-align:center; color:white; background-color:black;">bIkE room</h2>
 
 </br>
 
 <p style="text-align:center;">

  <%= image_tag 'baike_1.jpg', style: "width: 300px" %><br>
 </p>
  </br>
         <h4 style="text-align:center;">ようこそ、BiKe roomへ！<br>
        バイクをご利用される方の駐輪場の位置把握サイトになります。<br>
        会員登録後、使用可能となります<br>
        駐輪場へのコメントやいいね♡なども行えます。<br>
        </h4>
</div>