<div class="row">
  
    <div class="col-xs-9 col-xs-offset-1">
        <h4 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">ようこそ、BiKe roomへ！<br>
        バイクをご利用される方の駐輪場の位置把握サイトになります。<br>
        会員登録後、使用可能となります<br>
        駐輪場へのコメントも行えます。<br>
        </h4>


    </div>
  
</div>