    <h3 style="text-align:center; color:white; background-color:black;">投稿一覧</h3>
    
   <% @articles.each do |article| %>
     <div class="dai">
        <span class="sabudai">タイトル</br>
          <span class="sabutou"><%= article.title %> </span>
        </span>
        
         <span class="sabudai">内容</br>
          <span class="sabutou"><%= article.body %> </span>
        </span>
        
         <span class="sabudai"><%= link_to 'コメント',article_path(article) %></span>
     </div>
      
      
      <% end %>
  


