  <table>
    <h3>投稿一覧in</h3>
  <tbody>
      <tr>
          <th>タイトル</th>
          <th>内容</th>
      </tr>
      <% @articles.each do |article| %>
      <tr>
          <td><%= article.title %></td>
          <td><%= article.body %></td>
          <td><%= link_to 'コメント',article_path(article) %></td>
      </tr>
      <% end %>
  </tbody>  
</table>

